{% extends 'places/base.html' %}
{% load static %}
{% block head %}
{{block.super}}
<style>
    input[type="file"]::file-selector-button {
        background-color: #1c3e95 !important;
        color: white;
    }

    .form-sol{
        display: none;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.16.0/dist/sweetalert2.all.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.16.0/dist/sweetalert2.min.css
" rel="stylesheet">
<script src="{% static 'js/app_create.js' %}" type="module" defer></script>
{% endblock head %}
{% block main %}
<div class="container-fluid p-5">
    <div class="row gx-xl-5">
        <div class="col-xl-3">
            <div class="shadow-4 p-4 bg-white rounded-5 mb-4">
                <a href="{% url 'places:main' %}" type="button" class="btn btn-primary btn-rounded btn-lg w-100"><i
                        class="fas fa-angle-left me-3"></i>Volver al Inicio</a>
            </div>
            <div class="shadow-4 bg-white rounded-5 overflow-hidden d-none d-xl-block">
                <div class="bg-light p-4 text-center">
                    <h5 class="mb-0">Solicitudes</h5>
                </div>
                <div class="p-4">
                    {% for rq in requests %}
                    <a href="{% url 'places:detail_request' rq.uuid %}" role="button"
                        class="btn btn-link btn-rounded w-100 text-start text-capitalize">
                        {{rq.folio}} - {{rq.nombre}}
                    </a>
                    {% empty %}
                    <div class="alert" role="alert" data-mdb-color="warning">
                        No se han creado solicitudes
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xl-9 mb-4 mb-lg-0">
            {% include 'base/validations.html' %}
            <div
                class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                <h4 class="mb-0 fw-bold"><i class="fas fa-plus me-3"></i>Crear una Solicitud</h4>
                <a class="btn btn-lg btn-link btn-rounded d-none d-sm-block" href="{% url 'places:main' %}"
                    role="button">Ver
                    mis solicitudes<i class="fas fa-arrow-right ms-2"></i></a>
            </div>
            <form method="post" enctype="multipart/form-data" id="form-request">
                {% csrf_token %}
                <div class="shadow-4 bg-white rounded-5 p-5">
                    <h6><b>Primero, ingresa tu CURP para ser validada</b></h6>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-outline">
                                {{form.curp_txt}}
                                <label class="form-label">{{form.curp_txt.label}}</label>
                            </div>
                        </div>
                        <div class="d-grid gap-4 col-3 mx-auto mt-1">
                            <button class="btn btn-success" style="margin-bottom: 10px;" type="button" id="btnCURP">Validar CURP</button>
                        </div>
                        <br>
                        <br>
                        <div class="alert mt-3" role="alert" data-mdb-color="info">
                            Una vez validada, podrás continuar con el proceso de registro. Las solicitudes serán vinculadas a tu CURP.
                        </div>
                    </div>
                </div>
                <div class="shadow-4 bg-white rounded-5 p-5 mt-4">
                    <h6 class="form-sol"><b>Información General</b></h6>
                    <hr class="form-sol">
                    <div class="row form-sol">
                        <div class="col-12 mb-4">
                            <label class="form-check-label ms-2 me-3 fw-bold">¿Desea facturar la compra de su
                                Stand?:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="factura" id="factura1" value="True"
                                    required />
                                <label class="form-check-label" for="factura1">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="factura" id="factura2" value="False"
                                    required />
                                <label class="form-check-label" for="factura2">No</label>
                            </div>
                        </div>
                        <div class="col-12 mb-4">
                            <label class="form-check-label ms-2 me-3 fw-bold">¿A qué Régimen Fiscal pertenece?</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="regimen_fiscal" id="reg1"
                                    value="fisica" />
                                <label class="form-check-label" for="reg1">Persona Física</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="regimen_fiscal" id="reg2"
                                    value="moral" />
                                <label class="form-check-label" for="reg2">Persona Moral</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                {{form.nombre}}
                                <label class="form-label">{{form.nombre.label}}</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                {{form.nombre_replegal}}
                                <label class="form-label">{{form.nombre_replegal.label}}</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                {{form.rfc_txt}}
                                <label class="form-label">{{form.rfc_txt.label}}</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="number" name="cantidad_espacios" min="1" max="{{max_places}}"
                                    class="form-control" required id="id_cantidad_espacios">
                                <label class="form-label"
                                    for="{{form.cantidad_espacios.id}}">{{form.cantidad_espacios.label}} (máximo 3)</label>
                            </div>
                        </div>
                        <div class="col-12 mb-4">
                            <label class="form-check-label ms-2 me-3 fw-bold">{{form.mas_espacios.label}}</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="mas_espacios" id="morespaces1" value="True"
                                    required />
                                <label class="form-check-label" for="morespaces1">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="mas_espacios" id="morespaces2" value="False"
                                    required checked />
                                <label class="form-check-label" for="morespaces2">No</label>
                            </div>
                        </div>
                    </div>
                    <h6 class="form-sol"><b>Datos de la Dirección</b></h6>
                    <hr class="form-sol">
                    <div class="row form-sol">
                        <div class="col-6">
                            <div class="form-outline">
                                {{form.calle}}
                                <label class="form-label">{{form.calle.label}}</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                {{form.no_calle}}
                                <label class="form-label">{{form.no_calle.label}}</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                {{form.colonia}}
                                <label class="form-label">{{form.colonia.label}}</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                {{form.codigo_postal}}
                                <label class="form-label">{{form.codigo_postal.label}}</label>
                            </div>
                        </div>
                        <div class="col-6">
                            {{form.estado}}
                            <label class="form-label select-label">{{form.estado.label}}</label>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                {{form.municipio}}
                                <label class="form-label">{{form.municipio.label}}</label>
                            </div>
                        </div>
                    </div>
                    <h6 class="form-sol"><b>Documentos en formato PDF</b></h6>
                    <hr class="form-sol">
                    <div class="row form-sol">
                        <div class="col-12">
                            <label class="form-label">{{form.identificacion.label}}</label><br>
                            {{form.identificacion}}
                        </div>
                        <div class="col-12">
                            <label class="form-label">{{form.comprobante_domicilio.label}}</label><br>
                            {{form.comprobante_domicilio}}
                        </div>
                        <div class="col-12">
                            <label class="form-label">{{form.constancia_fiscal.label}}</label><br>
                            {{form.constancia_fiscal}}
                        </div>
                        <div class="col-12">
                            <label class="form-label">{{form.curp.label}}</label><br>
                            {{form.curp}}
                        </div>
                        <div class="col-12">
                            <label class="form-label">{{form.acta_constitutiva.label}}</label><br>
                            {{form.acta_constitutiva}}
                        </div>
                        <div class="col-12">
                            <label class="form-label">{{form.poder_notarial.label}}</label><br>
                            {{form.poder_notarial}}
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mt-3">
                        <button class="btn btn-primary form-sol" type="submit">Guardar registro</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">¿Estás seguro(a) de guardar la Solicitud?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Aún
                    no</button>
                <button id="save-form" type="button" class="btn btn-primary" data-mdb-ripple-init>Sí, Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
