{% extends 'places/base.html' %}
{% load static %}
{% block main %}
<div class="container-fluid p-5">
    <div class="row gx-xl-5">
        <div class="col-xl-3">
            <div class="shadow-4 p-4 bg-white rounded-5 mb-4">
                <a href="{% url 'places:create_request' %}" type="button"
                    class="btn btn-primary btn-rounded btn-lg w-100"><i class="fas fa-plus me-3"></i>Crear Solicitud</a>
                {% comment %}
                <a href="#" type="button" class="btn btn-secondary btn-rounded btn-lg w-100"><i
                        class="fas fa-plus me-3"></i>No Disponible</a>
                {% endcomment %}
            </div>
            <div class="shadow-4 bg-white rounded-5 overflow-hidden d-none d-xl-block">
                <div class="bg-light p-4 text-center">
                    <h5 class="mb-0">Citas Asignadas</h5>
                </div>
                <div class="p-4">
                    <div class="alert" role="alert" data-mdb-color="info">
                        Ingrese a la Solicitud que corresponde para descargar el PDF que presentará al validador o validadora
                    </div>
                    {% for dt in dates %}
                    <span role="button" class="btn btn-link btn-rounded w-100 text-start text-capitalize">
                        {{dt.folio}} - {{dt.fecha}} - {{dt.hora}} horas
                    </span>
                    {% empty %}
                    <div class="alert" role="alert" data-mdb-color="warning">
                        Aún no tiene <b>Citas</b> asignadas
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xl-9 mb-4 mb-lg-0">
            <div class="alert text-center" role="alert" data-mdb-color="info" data-mdb-alert-init>
                <h5 class="alert-heading"><i class="fas fa-chevron-circle-right me-3"></i>Descarga los costos y el croquis de espacios de la Feria Tabasco 2025</h5>
                <div class="d-grid gap-2 d-md-block mt-3">
                    <a class="btn text-white btn-primary" data-mdb-ripple-init href="{% static 'docs/COSTOS_ESPACIOS_FT2025.pdf' %}" role="button" download>
                        <i class="fas fa-download me-2 text-white"></i>
                        Descargar costos
                      </a>
                </div>
            </div>
            <div class="alert alert-dismissible fade show" role="alert" data-mdb-color="warning"><i
                class="fas fa-envelope-open me-3"></i>
                <h5 class="d-inline">¡Gracias por ser parte de la Feria Tabasco 2025!</h5><br>
                <b class="mt-2 d-block">Apreciamos su entusiasmo y paciencia en el proceso de comercialización de stands. Su participación es fundamental para que esta Fiesta del Pueblo sea un éxito.</b>
                <ul class="m-0">
                    <li>Si ya realizó su pago, muy pronto podrá descargar su contrato y conocer la fecha de firma presencial. Le invitamos a estar pendiente de nuestras redes sociales, su correo y el Sistema de Comercialización.</li>
                    <li>Si preseleccionó un stand desde el 2 de marzo, le esperamos en su cita en la oficina del Área de Comercialización para validar su información y completar su pago.</li>
                </ul>
                Para cualquier duda, estamos a su disposición en el 9933109750 o en nuestras oficinas en Prolongación de Paseo Tabasco No. 1504, Col. Tabasco 2000, Villahermosa, Centro, Tabasco.
                <h5 class="mt-3">¡Nos vemos en la Feria Tabasco, la Fiesta del Pueblo!</h5>
            </div>
            {% include 'base/validations.html' %}
            {% if not requests %}
            <div class="alert" role="alert" data-mdb-color="warning">
                <i class="fas fa-exclamation-triangle me-3"></i>Comience creando una Solicitud 
                <a href="{% url 'places:create_request' %}" class="btn btn-sm btn-warning shadow-0 ms-2">Crear Solicitud</a>
                {% comment %}
                <a href="#" class="btn btn-sm btn-warning shadow-0 ms-2">No Disponible</a>
                {% endcomment %}
            </div>
            {% endif %}
            {% for rq in requests %}
            {% if rq.get_last_unattended_validation %}
            <div class="alert" role="alert" data-mdb-color="warning">
                <i class="fas fa-exclamation-triangle me-3"></i>Tiene una observación en su <b>Solicitud {{rq.folio}}</b>
            </div>
            {% endif %}
            {% endfor %}
            <div
                class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                <h4 class="mb-0 fw-bold">
                    <i class="fas fa-clipboard-list me-3 green-text"></i>Mis Solicitudes
                </h4>
            </div>
            <div class="shadow-4 bg-white rounded-5 p-4">
                <div class="datatable" data-mdb-rows-text="Resultados por página"
                    data-mdb-no-found-message="No se encontraron Solicitudes" data-mdb-of-text="de">
                    <table>
                        <thead>
                            <tr>
                                <th class="th-sm">Folio</th>
                                <th class="th-sm">Estatus</th>
                                <th class="th-sm">Fecha de creación</th>
                                <th class="th-sm">Nombre</th>
                                <th class="th-sm">Comercio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rq in requests %}
                            <tr>
                                <td>
                                    <a href="{% url 'places:detail_request' rq.uuid %}" type="button"
                                        class="btn btn-sm btn-link btn-rounded">
                                        {{rq.folio}}
                                        <i class="fas fa-angle-right ms-2"></i>
                                    </a>
                                </td>
                                <td>
                                    {% if rq.estatus == 'validated' %}
                                    <h6 class="badge rounded-pill badge-success">Validado</span>
                                    {% elif rq.estatus == 'validated-direct' %}
                                    <h6 class="badge rounded-pill badge-success">Validación directa</span>
                                    {% elif rq.estatus == 'rejected' %}
                                    <span class="badge rounded-pill badge-danger">Rechazado</span>
                                    {% elif rq.estatus == 'pending' %}
                                    <span class="badge rounded-pill badge-warning">Observado</span>
                                    {% elif rq.estatus == 'resolved' %}
                                    <span class="badge rounded-pill badge-primary">Solventado</span>
                                    {% else %}
                                    <span class="badge rounded-pill badge-secondary">No asignado</span>
                                    {% endif %}
                                </td>
                                <td>{{rq.fecha_reg}}</td>
                                <td>{{rq.nombre}}</td>
                                <td>
                                    {% if not rq.comercio %}
                                    <a href="{% url 'places:create_shop' rq.uuid %}"
                                        class="btn btn-sm btn-warning shadow-0">Agregar comercio</a>
                                    {% else %}
                                    {{rq.comercio.nombre}}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}