{% extends 'places/base.html' %}
{% load static %}
{% block main %}
<div class="container-fluid p-5">
    <div class="row gx-xl-5">
        <div class="col-xl-3">
            <div class="shadow-4 p-4 bg-white rounded-5 mb-4">
                <a href="{% url 'places:create_request' %}" type="button"
                    class="btn btn-primary btn-rounded btn-lg w-100"><i class="fas fa-plus me-3"></i>Crear solicitud</a>
            </div>
            <div class="shadow-4 bg-white rounded-5 overflow-hidden d-none d-xl-block">
                <div class="bg-light p-4 text-center">
                    <h5 class="mb-0">Citas Asignadas</h5>
                </div>
                <div class="p-4">
                    {% for dt in dates %}
                    <a href="#" role="button" class="btn btn-link btn-rounded w-100 text-start text-capitalize">
                        {{dt.folio}} - {{dt.fecha}} - {{dt.hora}} horas
                    </a>
                    {% empty %}
                    <div class="alert" role="alert" data-mdb-color="warning">
                        Aún no tiene <b>Citas</b> asignadas
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xl-9 mb-4 mb-lg-0">
            {% include 'base/validations.html' %}
            {% if not requests %}
            <div class="alert" role="alert" data-mdb-color="warning">
                <i class="fas fa-exclamation-triangle me-3"></i>Comience creando una Solicitud <a
                    href="{% url 'places:create_request' %}" class="btn btn-sm btn-warning shadow-0 ms-2">Crear
                    Solicitud</a>
            </div>
            {% endif %}
            <div
                class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                <h4 class="mb-0 fw-bold">
                    <i class="fas fa-clipboard-list me-3 green-text"></i>Mis Solicitudes
                </h4>
            </div>
            <div class="shadow-4 bg-white rounded-5 p-4">
                <div class="datatable" data-mdb-rows-text="Resultados por página"
                    data-mdb-no-found-message="No se encontraron Solicitudes" data-mdb-of-text="de">
                    <table>
                        <thead>
                            <tr>
                                <th class="th-sm">Folio</th>
                                <th class="th-sm">Estatus</th>
                                <th class="th-sm">Fecha de creación</th>
                                <th class="th-sm">Nombre</th>
                                <th class="th-sm">Comercio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rq in requests %}
                            <tr>
                                <td>
                                    <a href="{% url 'places:detail_request' rq.uuid %}" type="button"
                                        class="btn btn-sm btn-link btn-rounded">
                                        {{rq.folio}}
                                        <i class="fas fa-angle-right ms-2"></i>
                                    </a>
                                </td>
                                <td>
                                    {% if rq.estatus == 'validated' %}
                                    <h6 class="badge rounded-pill badge-success">Validado</span>
                                        {% elif rq.estatus == 'rejected' %}
                                        <span class="badge rounded-pill badge-danger">Rechazado</span>
                                        {% elif rq.estatus == 'pending' %}
                                        <span class="badge rounded-pill badge-warning">Observado</span>
                                        {% else %}
                                        <span class="badge rounded-pill badge-secondary">No asignado</span>
                                        {% endif %}
                                </td>
                                <td>{{rq.fecha_reg}}</td>
                                <td>{{rq.nombre}}</td>
                                <td>
                                    {% if not rq.comercio %}
                                    <a href="{% url 'places:create_shop' rq.uuid %}"
                                        class="btn btn-sm btn-warning shadow-0">Agregar comercio</a>
                                    {% else %}
                                    {{rq.comercio.nombre}}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}