{% extends 'places/base.html' %}
{% load static %}
{% block head %}
{{block.super}}
<style>
    input[type="file"]::file-selector-button {
        background-color: #1c3e95 !important;
        color: white;
    }
</style>
<script src="{% static 'js/app_create.js' %}" defer></script>
{% endblock head %}
{% block main %}
<div class="container-fluid p-5">
    <div class="row gx-xl-5">
        <div class="col-xl-3">
            <div class="shadow-4 p-4 bg-white rounded-5 mb-4">
                <a href="{% url 'places:detail_request' object.uuid %}" type="button"
                    class="btn btn-primary btn-rounded btn-lg w-100"><i class="fas fa-angle-left me-3"></i>Volver a la
                    solicitud</a>
            </div>
        </div>
        <div class="col-xl-9 mb-4 mb-lg-0">
            {% include 'base/validations.html' %}
            <div class="alert alert-warning" role="alert" data-mdb-color="warning">
                <i class="fas fa-exclamation-triangle me-3"></i>Por favor, lea detenidamente cada <b>Observación</b>
                asignada al campo correspondiente, edite y guarde la información para solventarla.
            </div>
            <div class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center"
                id="observations">
                <h4 class="mb-0 fw-bold text-warning"><i class="fas fas fa-triangle-exclamation me-3"></i>Observaciones
                </h4>
            </div>
            {% if object.get_last_unattended_validation %}
            <div class="shadow-4 bg-white rounded-5 p-5 my-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'base/validations.html' %}
                    <h6><b>Información General</b></h6>
                    <hr>
                    <div class="row">
                        {% if 'factura' in obs_fields %}
                        <div class="col-12 mb-4">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.factura}}</small></div>
                            <label class="form-check-label ms-2 me-3 fw-bold">¿Desea facturar la compra de su
                                Stand?:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="factura" id="factura1" value="True"
                                    required {% if object.factura %}checked{% endif %} />
                                <label class="form-check-label" for="factura1">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="factura" id="factura2" value="False"
                                    required {% if not object.factura %}checked{% endif %} />
                                <label class="form-check-label" for="factura2">No</label>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'regimen_fiscal' in obs_fields %}
                        <div class="col-12 mb-4">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.regimen_fiscal}}</small></div>
                            <label class="form-check-label ms-2 me-3 fw-bold">¿A qué Régimen Fiscal
                                pertenece?</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="regimen_fiscal" id="reg1"
                                    value="fisica" {% if object.regimen_fiscal == 'fisica' %} checked{% endif %} />
                                <label class="form-check-label" for="reg1">Persona Física</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="regimen_fiscal" id="reg2"
                                    value="moral" {% if object.regimen_fiscal == 'moral' %}checked{% endif %} />
                                <label class="form-check-label" for="reg2">Persona Moral</label>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'nombre' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.nombre}}</small></div>
                            <div class="form-outline">
                                {{form.nombre}}
                                <label class="form-label">{{form.nombre.label}}</label>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'nombre_replegal' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.nombre_replegal}}</small></div>
                            <div class="form-outline">
                                {{form.nombre_replegal}}
                                <label class="form-label">{{form.nombre_replegal.label}}</label>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'rfc_txt' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.rfc_txt}}</small></div>
                            <div class="form-outline">
                                {{form.rfc_txt}}
                                <label class="form-label">{{form.rfc_txt.label}}</label>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'curp_txt' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.curp_txt}}</small></div>
                            <div class="form-outline">
                                {{form.curp_txt}}
                                <label class="form-label">{{form.curp_txt.label}}</label>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <h6><b>Datos de la Dirección</b></h6>
                    <hr>
                    <div class="row">
                        {% if 'calle' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.calle}}</small></div>
                            <div class="form-outline">
                                {{form.calle}}
                                <label class="form-label">{{form.calle.label}}</label>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'no_calle' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.no_calle}}</small></div>
                            <div class="form-outline">
                                {{form.no_calle}}
                                <label class="form-label">{{form.no_calle.label}}</label>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'colonia' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.colonia}}</small></div>
                            <div class="form-outline">
                                {{form.colonia}}
                                <label class="form-label">{{form.colonia.label}}</label>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'codigo_postal' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.codigo_postal}}</small></div>
                            <div class="form-outline">
                                {{form.codigo_postal}}
                                <label class="form-label">{{form.codigo_postal.label}}</label>
                            </div>
                        </div>
                        {% endif %}
                        {% if 'estado' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.estado}}</small></div>
                            {{form.estado}}
                            <label class="form-label select-label">{{form.estado.label}}</label>
                        </div>
                        {% endif %}
                        {% if 'municipio' in obs_fields %}
                        <div class="col-6">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.municipio}}</small></div>
                            <div class="form-outline">
                                {{form.municipio}}
                                <label class="form-label">{{form.municipio.label}}</label>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <h6><b>Documentos</b></h6>
                    <hr>
                    <div class="row">
                        {% if 'identificacion' in obs_fields %}
                        <div class="col-12">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.identificacion}}</small></div>
                            <label class="form-label">{{form.identificacion.label}}</label><br>
                            {{form.identificacion}}
                        </div>
                        {% endif %}
                        {% if 'comprobante_domicilio' in obs_fields %}
                        <div class="col-12">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.comprobante_domicilio}}</small></div>
                            <label class="form-label">{{form.comprobante_domicilio.label}}</label><br>
                            {{form.comprobante_domicilio}}
                        </div>
                        {% endif %}
                        {% if 'constancia_fiscal' in obs_fields %}
                        <div class="col-12">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.constancia_fiscal}}</small></div>
                            <label class="form-label">{{form.constancia_fiscal.label}}</label><br>
                            {{form.constancia_fiscal}}
                        </div>
                        {% endif %}
                        {% if 'curp' in obs_fields %}
                        <div class="col-12">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.curp}}</small></div>
                            <label class="form-label">{{form.curp.label}}</label><br>
                            {{form.curp}}
                        </div>
                        {% endif %}
                        {% if 'acta_constitutiva' in obs_fields %}
                        <div class="col-12">
                            <div class="alert alert-danger p-2" role="alert" data-mdb-color="danger">
                                <small>{{obs_comments.acta_constitutiva}}</small></div>
                            <label class="form-label">{{form.acta_constitutiva.label}}</label><br>
                            {{form.acta_constitutiva}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mt-3">
                        <button class="btn btn-primary" type="submit">Cambiar Información</button>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert" data-mdb-color="warning">
                <i class="fas fa-exclamation-triangle me-3"></i>Aún no tiene Observaciones
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main %}