{% extends 'places/base.html' %}
{% load static %}
{% load humanize %}
{% block head %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/JavaScript" src="https://MomentJS.com/downloads/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css">
    <style>
        input[type="file"]::file-selector-button {
            background-color: #1c3e95 !important;
            color: white;
        }

        .table-places {
            display: inline-table;
            border-collapse: separate;
            border-spacing: 4px;
            text-align: center;
        }

        .table-places td {
            text-align: center;
            padding: .3rem .7rem !important;
            color: white !important;
            margin: 2px !important;
        }

        .table-places tr {
            border: 0 transparent !important;
        }

        td[data-status="available"] {
            cursor: pointer;
        }

        td.selected {
            outline: 3px solid #332D2D;
        }

        td[data-status="unavailable"] {
            background-color: #9FA6B2 !important;
        }

        /* Computadoras y pantallas grandes (1025px en adelante) */
        @media (min-width: 1025px) {
            .topheader {
                margin-top: -25%;
            }
        }

    </style>
    {% if object.data_tpay %}
{#        <script async defer src="{{ tpay_ruta }}api/v1/component/js/orden?clientid={{ tpay_apikey }}"></script>#}
{#        <script async defer src="{{ tpay_ruta }}api/v1/component/js/object?clientid={{ tpay_apikey }}"></script>#}
        <script async defer src="{% url "tpay-js" 1 %}"></script>
        <script async defer src="{% url "tpay-js" 2 %}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
        </script>
        <script>
            var modalImprimir = null;

            // Función para obtener el token CSRF de la cookie
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Verifica si esta cookie empieza con el nombre requerido
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            const csrftoken = getCookie('csrftoken');
            var data_pago = 'iniciando';

            function dataFront(respuesta) {
                try {
                    data_pago = respuesta;
                    console.log('****_', data_pago);
                    if (data_pago.respuesta) {
                        axios.put(`/api/places/tpayval/${data_pago.data.prodrecibido}`, data_pago, {
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrftoken  // Se incluye el token CSRF
                            }
                        })
                        .then(response => {
                            location.reload();
                            console.log('Actualización exitosa:', response.data);
                        })
                        .catch(error => {
                            console.error('Error en la actualización:', error);
                        });
                    }

                    // Procesar la respuesta
                } catch {
                    data_pago = 'Error data';
                    // Control del error
                }
            }

            function createTPay(ordenPago) {
                let tpay = document.createElement("pago-component");
                //tpay.ordenpago = ;
                tpay.ordenpago = JSON.stringify(ordenPago);
                tpay.style.maxWidth = "80%";
                console.log(ordenPago)
                return tpay;
            }

            document.addEventListener('DOMContentLoaded', () => {
                // Selecciona el botón y los elementos destino
                const btn_close = document.querySelector('#btnClose');

                btn_close.addEventListener('click', (e) => {
                    instance_select_modal.hide()
                })


            });
        </script>
    {% endif %}

    <script src="{% static 'js/request_user.js' %}" type="module" defer></script>
    <script src="{% static 'js/easytimer.min.js' %}" defer></script>
{% endblock head %}
{% block main %}
    <div class="container-fluid p-5">
        <div class="row gx-xl-5">
            <div class="col-xl-3">
                <div class="shadow-4 p-4 bg-white rounded-5 mb-4">
                    <a href="{% url 'places:main' %}" type="button" class="btn btn-primary btn-rounded btn-lg w-100"><i
                            class="fas fa-angle-left me-3"></i>Solicitudes</a>
                </div>
                <div class="shadow-4 bg-white rounded-5 overflow-hidden d-none d-xl-block">
                    <div class="bg-light p-4 text-center">
                        <h5 class="mb-0">Solicitudes</h5>
                    </div>
                    <div class="p-4">
                        {% for rq in requests %}
                            <a href="{% url 'places:detail_request' rq.uuid %}" role="button"
                               class="btn btn-link btn-rounded w-100 text-start text-capitalize">
                                {{ rq.folio }} - {{ rq.nombre }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="bg-light p-4 text-center">
                        <h5 class="mb-0">Citas Agendadas</h5>
                    </div>
                    <div class="p-4">
                        <div class="alert" role="alert" data-mdb-color="info">
                            Seleccione una cita para descargar el PDF
                        </div>
                        {% for dt in dates %}
                            <a href="{% url 'places:download_date' object.uuid dt.uuid %}" role="button"
                               class="btn btn-link btn-rounded w-100 text-start text-capitalize">
                                {{ dt.folio }} - {{ dt.fecha }} - {{ dt.hora }} horas
                            </a>
                        {% empty %}
                            <div class="alert" role="alert" data-mdb-color="warning">
                                No se han agendado Citas anteriormente
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xl-9 mb-4 mb-lg-0">
                {% include 'base/validations.html' %}
                {% if object.comercio %}
                    {% if not object.estatus == 'validated' and not object.estatus == 'rejected' %}
                        <div class="alert alert-dismissible fade show" role="alert" data-mdb-color="warning"><i
                                class="fas fa-exclamation-triangle me-2"></i>
                            <b>Su solicitud se ha guardado correctamente, el equipo de Comercialización revisará su
                                información.</b> Manténgase pendiente de su correo electrónico así como de este medio ya
                            que serán las únicas vías para saber si tiene algún documento o información que deba
                            modificar o bien, si su solicitud fue validada para avanzar a la selección del o los
                            espacios a rentar así como para efectuar el pago correspondiente.
                            <button type="button" class="btn-close" data-mdb-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endif %}
                {% if not object.comercio %}
                    <div class="alert" role="alert" data-mdb-color="warning">
                        <i class="fas fa-exclamation-triangle me-3"></i>Para continuar con el proceso de la Solicitud <a
                            href="{% url 'places:create_shop' object.uuid %}"
                            class="btn btn-sm btn-warning shadow-0 ms-2">Agrega un comercio</a>
                    </div>
                {% else %}
                    {% if object.comercio.get_last_unattended_validation %}
                        <div class="alert" role="alert" data-mdb-color="warning">
                            <i class="fas fa-exclamation-triangle me-3"></i>Tiene una observación en su <b>Comercio</b>
                            <a href="{% url 'places:observations_shop' object.comercio.uuid %}"
                               class="btn btn-sm btn-warning shadow-0 ms-2">Atender observación</a>
                        </div>
                    {% endif %}
                {% endif %}
                {% if object.get_last_unattended_validation %}
                    <div class="alert" role="alert" data-mdb-color="warning">
                        <i class="fas fa-exclamation-triangle me-3"></i>Tiene una observación en su <b>Solicitud</b> <a
                            href="{% url 'places:observations_request' object.uuid %}"
                            class="btn btn-sm btn-warning shadow-0 ms-2">Atender observación</a>
                    </div>
                {% endif %}
                <!-- Bloque Solicitud -->
                <div
                        class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                    <h4 style="cursor: pointer;" data-mdb-toggle="collapse" data-mdb-target="#collapseRequest"
                        aria-expanded="true" class="mb-0 fw-bold"><i class="fas fa-clipboard-list me-3"></i>Solicitud
                        {{ object.nombre }} <i class="fas fa-angle-down ms-3"></i></h4>
                    <a class="btn btn-lg btn-link btn-rounded d-none d-sm-block" href="{% url 'places:main' %}"
                       role="button">Ver
                        mis solicitudes<i class="fas fa-arrow-right ms-2"></i></a>
                </div>
                <div class="shadow-4 bg-white rounded-5 p-5 collapse" id="collapseRequest">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Estatus actual
                                <td>
                                    {% if object.estatus == 'validated' %}
                                        <span class="badge rounded-pill badge-success">Validado</span>
                                    {% elif object.estatus == 'validated-direct' %}
                                        <span class="badge rounded-pill badge-success">Validación directa</span>
                                    {% elif object.estatus == 'rejected' %}
                                        <span class="badge rounded-pill badge-danger">Rechazado</span>
                                    {% elif object.estatus == 'pending' %}
                                        <span class="badge rounded-pill badge-warning">Observado</span>
                                    {% elif object.estatus == 'resolved' %}
                                        <span class="badge rounded-pill badge-primary">Solventado por el
                                        usuario</span>
                                    {% else %}
                                        <span class="badge rounded-pill badge-secondary">No asignado</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Fecha de registro</th>
                                <td>{{ object.fecha_reg }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Folio</th>
                                <td>{{ object.folio }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">¿Requiere Factura?</th>
                                <td>{{ object.get_factura_display }}</td>
                            </tr>
                            {% if object.regimen_fiscal %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Régimen Fiscal</th>
                                    <td>{{ object.get_regimen_fiscal_display }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th class="bg-light" style="width: 40%;">Nombre o Razón Social</th>
                                <td>{{ object.nombre }}</td>
                            </tr>
                            {% if object.nombre_replegal %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Nombre del Representante Legal</th>
                                    <td>{{ object.nombre_replegal|default:'No especificado' }}</td>
                                </tr>
                            {% endif %}
                            {% if object.rfc_txt %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">RFC</th>
                                    <td>{{ object.rfc_txt|upper }}</td>
                                </tr>
                            {% endif %}
                            {% if object.curp_txt %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">CURP</th>
                                    <td>{{ object.curp_txt|upper }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th class="bg-light" style="width: 40%;">Espacios seleccionados</th>
                                <td>{{ object.cantidad_espacios }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Requiero más espacios</th>
                                <td>{{ object.get_mas_espacios_display }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Calle</th>
                                <td>{{ object.calle }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Número de Calle</th>
                                <td>{{ object.no_calle }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Colonia</th>
                                <td>{{ object.colonia }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Código Postal</th>
                                <td>{{ object.codigo_postal }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Estado</th>
                                <td>{{ object.get_estado_display }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Municipio</th>
                                <td>{{ object.municipio }}</td>
                            </tr>
                            {% if object.constancia_fiscal %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Constancia de Situación Fiscal</th>
                                    <td><a href="{{ object.constancia_fiscal.url }}" target="_blank" type="button"
                                           class="btn btn-sm btn-light"><i class="fas fa-eye me-2"></i>Ver documento</a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if object.comprobante_domicilio %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Comprobante de Domicilio</th>
                                    <td><a href="{{ object.comprobante_domicilio.url }}" target="_blank" type="button"
                                           class="btn btn-sm btn-light"><i class="fas fa-eye me-2"></i>Ver documento</a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if object.acta_constitutiva %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Acta Constitutiva</th>
                                    <td><a href="{{ object.acta_constitutiva.url }}" target="_blank" type="button"
                                           class="btn btn-sm btn-light"><i class="fas fa-eye me-2"></i>Ver documento</a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if object.poder_notarial %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Poder Notarial</th>
                                    <td><a href="{{ object.poder_notarial.url }}" target="_blank" type="button"
                                           class="btn btn-sm btn-light"><i class="fas fa-eye me-2"></i>Ver documento</a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if object.identificacion %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Identificación Oficial</th>
                                    <td><a href="{{ object.identificacion.url }}" target="_blank" type="button"
                                           class="btn btn-sm btn-light"><i class="fas fa-eye me-2"></i>Ver documento</a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if object.curp %}
                                <tr>
                                    <th class="bg-light" style="width: 40%;">CURP</th>
                                    <td><a href="{{ object.curp.url }}" target="_blank" type="button"
                                           class="btn btn-sm btn-light"><i class="fas fa-eye me-2"></i>Ver documento</a>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Final Bloque Solicitud -->
                <!-- Bloque Comercio -->
                <div id="comercio" data-mdb-toggle="collapse" data-mdb-target="#collapseShop" aria-expanded="true"
                     class="shadow-4 bg-white rounded-5 my-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                    <h4 style="cursor: pointer;" class="mb-0 fw-bold"><i class="fas fa-shop me-3"></i>Comercio
                        {{ object.comercio.nombre }} <i class="fas fa-angle-down ms-3"></i></h4>
                </div>
                <div class="shadow-4 bg-white rounded-5 p-5 my-4 collapse {% if not object.comercio %}show{% endif %}"
                     id="collapseShop">
                    {% if not object.comercio %}
                        <a href="{% url 'places:create_shop' object.uuid %}" type="button"
                           class="btn btn-primary btn-rounded btn-lg w-100"><i class="fas fa-plus me-3"></i>Agregar
                            Comercio</a>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Estatus actual
                                    <td>
                                        {% if object.comercio.estatus == 'validated' %}
                                            <span class="badge rounded-pill badge-success">Validado</span>
                                        {% elif object.comercio.estatus == 'rejected' %}
                                            <span class="badge rounded-pill badge-danger">Rechazado</span>
                                        {% elif object.comercio.estatus == 'pending' %}
                                            <span class="badge rounded-pill badge-warning">Observado</span>
                                        {% elif object.comercio.estatus == 'resolved' %}
                                            <span class="badge rounded-pill badge-primary">Solventado por el
                                        usuario</span>
                                        {% else %}
                                            <span class="badge rounded-pill badge-secondary">No asignado</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Folio</th>
                                    <td>{{ object.comercio.folio }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Nombre del Comercio</th>
                                    <td>{{ object.comercio.nombre }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Descripción del comercio</th>
                                    <td>{{ object.comercio.descripcion|upper }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light" style="width: 40%;">Giro del Comercio</th>
                                    <td>{{ object.comercio.get_giro_display }}</td>
                                </tr>
                                {% if object.comercio.vende_alcohol %}
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Vende alcohol</th>
                                        <td>{{ object.comercio.get_vende_alcohol_display|default:"No especificado" }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.comercio.voltaje %}
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Voltaje</th>
                                        <td>{{ object.comercio.get_voltaje_display|default:"No especificado" }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.comercio.equipos %}
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Equipos a utilizar</th>
                                        <td>{{ object.comercio.equipos|default:"No especificado" }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.comercio.imagen %}
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Cómo será el local</th>
                                        <td><a href="{{ object.comercio.imagen.url }}" target="_blank" type="button"
                                               class="btn btn-sm btn-light"><i class="fas fa-eye me-2"></i>Ver documento</a>
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
                <!-- Final Bloque Comercio -->
                {% if object.estatus == "validated" or object.estatus == "validated-direct" %}
                    <!-- Mensaje Provisional -->
                    <div class="alert alert-dismissible fade show" role="alert" data-mdb-color="success"><i
                            class="fas fa-check-circle me-3"></i>Su Solicitud con folio <b>{{ object.folio }}</b> ha
                        sido
                        validada, a partir del lunes 24 de febrero del presente año podrá seleccionar el/los espacios
                        que
                        desea
                        adquirir en esta misma plataforma.
                        <button type="button" class="btn-close" data-mdb-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                    <!-- Final Mensaje Provisional -->

                    <!-- Bloque selección de lugares -->
                    <div data-mdb-alert-init="" class="alert fade alert-success alert-fixed" id="alert-success"
                         role="alert"
                         data-mdb-color="success" data-mdb-position="top-center" data-mdb-stacking="true"
                         data-mdb-append-to-body="true" data-mdb-hidden="true" data-mdb-autohide="true"
                         data-mdb-delay="1000"
                         data-mdb-alert-initialized="true">
                        <i class="fas fa-check-circle me-2"></i> <b>Espacios Actualizados</b>
                    </div>
                    <div data-mdb-alert-init="" class="alert fade alert-warning alert-fixed" id="alert-warning"
                         role="alert"
                         data-mdb-color="warning" data-mdb-position="top-center" data-mdb-stacking="true"
                         data-mdb-append-to-body="true" data-mdb-hidden="true" data-mdb-autohide="true"
                         data-mdb-delay="2000"
                         data-mdb-alert-initialized="true">
                        <i class="fas fa-ban me-2"></i> <b>Selección Cancelada</b>
                    </div>
                    <div data-mdb-alert-init="" class="alert fade alert-warning alert-fixed" id="alert-notplaces"
                         role="alert"
                         data-mdb-color="warning" data-mdb-position="top-center" data-mdb-stacking="true"
                         data-mdb-append-to-body="true" data-mdb-hidden="true" data-mdb-autohide="true"
                         data-mdb-delay="2000"
                         data-mdb-alert-initialized="true">
                        <i class="fas fa-ban me-2"></i> <b>No se preseleccionaron los espacios. Intente con
                        otros
                        espacios.</b>
                    </div>
                    <input type="hidden" id="request-uuid" value="{{ object.uuid }}">
                    {% if not payment %}
                        <div class="shadow-4 bg-white rounded-5 my-4 overflow-hidden p-4 d-flex justify-content-between align-items-center"
                             id="places">
                            <h4 class="mb-0 fw-bold">
                                <i class="fas fa-map-pin me-3 green-text"></i>Selección de Espacios
                            </h4>
                        </div>
                        <p class="note note-info mb-4">
                            Al <b>Preseleccionar</b> los espacios se bloquearán por <b>30 minutos</b> y no serán
                            visibles
                            para otros módulos.
                            Si no se confirma la selección, los espacios volverán a estar disponibles después de ese
                            tiempo.
                        </p>
                        <div
                                class="shadow-4 bg-white rounded-5 my-4 overflow-x-scroll p-4 d-flex justify-content-between align-items-center">
                            <button id="n-1" type="button" class="btn btn-light">Nave 1<i
                                    class="fas fa-arrows-rotate ms-2"></i></button>
                            <button id="n-2" type="button" class="btn btn-light">Nave 2<i
                                    class="fas fa-arrows-rotate ms-2"></i></button>
                            <button id="n-3" type="button" class="btn btn-light">Nave 3<i
                                    class="fas fa-arrows-rotate ms-2"></i></button>
                            <button id="z-a" type="button" class="btn btn-light">Zona A<i
                                    class="fas fa-arrows-rotate ms-2"></i></button>
                            <button id="z-b" type="button" class="btn btn-light">Zona B<i
                                    class="fas fa-arrows-rotate ms-2"></i></button>
                            <button id="z-c" type="button" class="btn btn-light">Zona C<i
                                    class="fas fa-arrows-rotate ms-2"></i></button>
                            <button id="z-d" type="button" class="btn btn-light">Zona D<i
                                    class="fas fa-arrows-rotate ms-2"></i></button>
                            <button id="s-t" type="button" class="btn btn-light">Sabor a Tabasco<i
                                class="fas fa-arrows-rotate ms-2"></i></button>
                            <button id="teatro" type="button" class="btn btn-light">Teatro al aire libre<i
                                class="fas fa-arrows-rotate ms-2"></i></button>
                        </div>
                        <div class="shadow-4 bg-white rounded-5 p-4 mb-4">
                            <input type="hidden" name="limit_places" value="{{ object.cantidad_espacios }}">
                            <h3 class="text-center mb-3"><span id="zone_title" class="badge badge-info">Selecciona una de las
                        zonas de arriba</span></h3>
                            <div class="table-responsive">
                                <table class="table table-places m-0"></table>
                            </div>
                            <button type="button" id="preselection" disabled
                                    class="btn btn-lg btn-rounded btn-primary shadow-0 w-100 mt-3"><i
                                    class="fas fa-check me-2"></i>Preseleccionar espacios
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
                {% if object.estatus == "rejected" %}
                <!-- Bloque de solicitud rechazada -->
                <div class="alert" role="alert" data-mdb-color="danger" data-mdb-alert-init>
                    <h4 class="alert-heading"><i class="fas fa-times-circle me-3"></i> Solicitud Rechazada</h4>
                    <hr>
                    <p>
                        Su solicitud ha sido rechazada por el validador.
                        {% if object.validaciones.last.comentarios %}
                        <br>
                        Estas son las razones por las que su Solicitud fue rechazada: <b>{{object.validaciones.last.comentarios}}</b>
                    {% endif %}
                    </p>
                </div>
                {% endif %}
                {% if selected_places and tpay_activo %}
                    <div class="shadow-4 bg-white rounded-5 my-4 overflow-hidden p-4 d-flex justify-content-between align-items-center"
                         id="places">
                        <h4 class="mb-0 fw-bold">
                            <i class="fas fa-list-check me-3 green-text"></i>Configuración adicional de los espacios
                            seleccionados ({{ selected_places.count }})
                        </h4>
                    </div>
                    <div class="shadow-4 bg-white rounded-5 p-4 mb-4">
                    {% if not payment %}
                        <div class="d-flex justify-content-end">
                            <button id="add-terraza" disabled type="button" style="display: none"
                                    class="btn btn-sm shadow-0 btn-primary btn-rounded mb-3 me-2"><i
                                    class="fas fa-plus me-2"></i>Agregar terraza
                            </button>
                            <button id="add-big-terraza" disabled type="button" style="display: none"
                                    class="btn btn-sm shadow-0 btn-primary btn-rounded mb-3 me-2"><i
                                    class="fas fa-plus me-2"></i>Agregar terraza grande
                            </button>
                            <button id="add-alcohol" disabled type="button"
                                    class="btn btn-sm shadow-0 btn-primary btn-rounded mb-3">
                                <i class="fas fa-plus me-2"></i>
                                Agregar licencia de alcohol
                            </button>
                        </div>
                    {% endif %}
                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th scope="col">Folio</th>
                            <th scope="col">Número del lugar</th>
                            <th scope="col">Sección</th>
                            <th scope="col">M2</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Fecha de asignación</th>
                            {% if not payment %}
                                <th>Pagar</th>
                                <th>Eliminar</th>
                            {% else %}
                                <th>Recibo</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for sp in selected_places %}
                            <tr>
                                <td>
                                {% if not sp.tpay_pagado %}
                                    <input class="form-check-input config-chk" type="checkbox"
                                       value="{{ sp.uuid }}"
                                       data-m2="{{ sp.m2 }}" data-folio="{{ sp.folio }}"/>
                                {% endif %}
                                </td>
                                <th scope="row">{{ sp.folio }}</th>
                                <td>{{ sp.nombre }}</td>
                                <td>{{ sp.get_zona_display }}</td>
                                <td>{{ sp.m2 }}</td>
                                <td>${{ sp.precio|intcomma }}</td>
                                <td>{{ sp.fecha_reg }}</td>
                                {% if not payment %}
                                    <td>
                                    {% if sp.extras.all.count > 0 %}
                                        <p class="note note-warning mb-4">
                                            Este local podra ser pagado hasta el <b>miercoles 26 de Febrero</b>,
                                            ya que tiene selecionado una licencia de alcohol.
                                        </p>
                                    {% else %}
                                        {% if not sp.tpay_pagado and sp.tramite_id != 0 %}
                                            <button class="btn btn-rounded btn-success tpay-place" data-uuid="{{ sp.uuid }}">
                                                Pagar
                                            </button>
                                        {% else %}
                                            <span class="badge rounded-pill badge-success">Pagado</span>
                                        {% endif %}
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if sp.extras.all.count > 0 %}

                                    {% else %}
                                        {% if not sp.tpay_pagado and sp.tramite_id != 0 %}
                                            <a class="ms-3 del-place" data-uuid="{{ sp.uuid }}"
                                               data-type="place"
                                               role="button">
                                                <i class="fas fa-xmark fa-lg text-danger"></i>
                                            </a>
                                        {% else %}
                                            <button data-url="{{ sp.recibo_url }}"
                                                    class="btn btn-rounded btn-warning pdf-place" data-uuid="{{ sp.uuid }}">
                                                Recibo
                                            </button>
                                        {% endif %}
                                    {% endif %}

                                    </td>
                                {% else %}
                                    <td>
                                        <button data-url="{{ sp.recibo_url }}"
                                                class="btn btn-rounded btn-warning pdf-place" data-uuid="{{ sp.uuid }}">
                                            Recibo
                                        </button>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="list-group list-group-light" id="extra-products">
                        <li class="list-group-item d-flex justify-content-end">
                            <h5 class="me-5 fw-bold m-0">Total por espacios:</h5>
                            <h5 class="ms-5 m-0">${{ total_places|intcomma }}</h5>
                        </li>
                        {% for p in selected_places %}
                            {% for px in p.extras.all %}
                                <li class="list-group-item d-flex justify-content-end">
                                    {% if px.tipo == 'terraza' %}
                                        <h5 class="m-0 me-5 fw-bold">Total por (1) Terraza para el espacio
                                            ({{ px.to_places }}):
                                        </h5>
                                        <h5 class="m-0 ms-5">${{ px.precio|intcomma }}</h5>
                                    {% elif px.tipo == 'terraza_grande' %}
                                        <h5 class="m-0 me-5 fw-bold">Total por (1) Terraza Grande para el
                                            espacio
                                            ({{ px.to_places }}):
                                        </h5>
                                        <h5 class="m-0 ms-5">${{ px.precio|intcomma }}</h5>
                                    {% elif px.tipo == 'licencia_alcohol' %}
                                        <h5 class="m-0 me-5 fw-bold">Total por (1) Licencia de Alcohol para
                                            el/los espacio(s)
                                            ({{ px.to_places }}):
                                        </h5>
{#                                        <h5 class="m-0 ms-5">${{ px.precio|intcomma }}</h5>#}
                                        <h5 class="m-0 ms-5"></h5>
                                    {% endif %}
                                    {% if not payment %}

                                        <a class="ms-3 del-pdt" data-uuid="{{ px.uuid }}"
                                           data-type="{{ px.tipo }}" role="button"><i
                                                class="fas fa-xmark fa-lg text-danger"></i></a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-end">
                            <h5 class="me-5 fw-bold m-0">Total por conceptos adicionales:</h5>
                            <h5 class="ms-5 m-0">${{ total_extras|intcomma }}</h5>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-end">
                        <h2 class="me-5 m-0">Total:</h2>
                        <h1 class="ms-5 m-0 text-primary" id="total-price">${{ total|intcomma }}</h1>
                    </div>
                    {% if not payment %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="d-flex justify-content-center">
                                {# <button name="create-payment" #}
                                {% if not object.data_tpay %}
                                    <button name="create-payment" style="display: none"
                                            class="btn btn-primary btn-lg btn-rounded shadow-0 mt-5 w-50">
                                        <i class="far fa-credit-card me-2"></i>
                                        Solicitar Pago
                                    </button>
                                {% endif %}
                                <button name="cancel-pay"
                                        class="btn btn-danger btn-lg btn-rounded shadow-0 mt-5 ms-5 w-50">
                                    <i class="fas fa-close me-2"></i>
                                    Cancelar compra
                                </button>
                            </div>
                        </form>
                    {% else %}
                        <p class="note note-success mt-4">
                            Se ha definido que el pago fue seleccionado como tipo
                            <b>{{ payment.get_tipo_display }}</b> el
                            <b>{{ payment.fecha_reg }} hrs</b>. {% if payment.validador %}Efectuado por
                            <b>{{ payment.validador }}</b>{% endif %}.
                        </p>
                        <div class="d-flex justify-content-end">
                            <button name="reverse-pay" style="display: none"
                                    class="btn btn-danger btn-sm btn-rounded shadow-0">
                                <i class="fas fa-close me-2"></i>
                                Revertir compra
                            </button>
                        </div>
                    {% endif %}

                    <!-- Final Bloque de Selección de Lugares -->
                {% endif %}
                <!-- Bloque de Citas -->
                {% if user.citas.first %}
                    <div id="citas"
                         class="shadow-4 bg-white rounded-5 my-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                        <h4 class="mb-0 fw-bold"><i class="fas fa-calendar-day me-3"></i>Cita Agendada</h4>
                    </div>
                    <div class="shadow-4 bg-white rounded-5 p-5 my-4">
                        {% with date=user.citas.first %}
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Folio</th>
                                        <td>{{ date.folio }}</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Fecha</th>
                                        <td>{{ date.fecha }}</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Hora</th>
                                        <td>{{ date.hora }} horas</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Lugar</th>
                                        <td>Parque Tabasco Dora María</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Documento de Cita</th>
                                        <td><a target="_blank" class="btn btn-sm btn-success shadow-0"
                                               href="{% url 'places:download_date' object.uuid date.uuid %}">Descargar
                                            cita</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endwith %}
                    </div>
                {% endif %}
                <!-- Final Bloque de Citas -->
                <!-- Bloque de Información de Pago -->
                {% if payment %}
                    <div class="shadow-4 bg-white rounded-5 my-4 overflow-hidden p-4 d-flex justify-content-between align-items-center"
                         id="places">
                        <h4 class="mb-0 fw-bold">
                            <i class="fas fa-download me-3 green-text"></i>Descarga de documentos
                        </h4>
                    </div>
                    <div class="shadow-4 bg-white rounded-5 p-4 mb-4">
                        {% if payment.pagado and contrato_activo %}
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th class="bg-light" style="width: 40%;">Contrato</th>
                                        <td><a class="btn btn-sm btn-success shadow-0"
                                               href="{% url 'admin:download_contract' object.uuid %}">Descargar
                                            Contrato</a></td>
                                    </tr>
                                    {% for place in selected_places %}
                                        <tr>
                                            <th class="bg-light" style="width: 40%;">
                                                {{ place.get_zona_display }}&nbsp;&nbsp;{{ place.nombre }}
                                                ({{ place.folio }})
                                            </th>
                                            <td><a class="btn btn-sm btn-success shadow-0"
                                                   href="{% url 'admin:download_gafete' object.uuid place.uuid %}">Descargar
                                                Gafete</a>
                                                <a class="btn btn-sm btn-primary shadow-0 ms-2"
                                                   href="{% url 'admin:download_suministros' object.uuid place.uuid %}">Descargar
                                                    Suministros</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
{#                            <p class="note note-warning mt-4">#}
{#                                A la espera del comprobante de pago en efectivo para liberar los documentos de#}
{#                                descarga#}
{#                            </p>#}
{#                            <div class="d-flex justify-content-center">#}
{#                                <button name="cash-paid"#}
{#                                        class="btn btn-primary btn-lg btn-rounded shadow-0 mt-5 ms-5 w-50">#}
{#                                    <i class="fas fa-money-bill-1 me-2"></i>#}
{#                                    Pagado con efectivo#}
{#                                </button>#}
{#                                <button name="transfer-paid"#}
{#                                        class="btn btn-primary btn-lg btn-rounded shadow-0 mt-5 ms-5 w-50">#}
{#                                    <i class="fas fa-right-left me-2"></i>#}
{#                                    Pagado con transferencia#}
{#                                </button>#}
{#                            </div>#}
                            <p class="note note-info mb-4">
                                En esta sección podrá descargar su contrato y otros documentos de acceso a partir del día de mañana.
                                Esté pendiente de su correo electrónico para su notificación.
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
                <!-- Final Información de Pago -->
                </div>
                </div>
            </div>
            <div class="modal fade" id="modal-iframe" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
                 aria-modal="true"
                 role="dialog">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h4" id="exampleModalFullscreenLabel">Formato de pago: <strong
                                    id="type_pago">Efectivo</strong></h5>
                            <button type="button" class="btn-close" id="btnClose" data-bs-dismiss="modal"
                                    aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe id="iframe" src="{{ pdf_url }}" style="width: 100%; height: 90vh;"
                                    frameborder="0"></iframe>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <div id="content-tpay">
            </div>
{% endblock main %}