{% extends 'places/base.html' %}
{% load static %}
{% block head %}
{{block.super}}
<style>
    th,
    td {
        white-space: nowrap;
    }
</style>
{% endblock head %}
{% block main %}
<div class="container-fluid p-5">
    <div class="row gx-xl-5">
        <div class="col-xl-3">
            <div class="shadow-4 p-4 bg-white rounded-5 mb-4">
                <a href="{% url 'admin:main' %}" type="button" class="btn btn-primary btn-rounded btn-lg w-100"><i
                        class="fas fa-angle-left me-3"></i>Volver al inicio</a>
            </div>
            <div class="card shadow-3 mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <div class="p-3 badge-info rounded-4">
                                <i class="fas fa-calendar-day fa-2x fa-fw"></i>
                            </div>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <p class="text-muted mb-1">Total</p>
                            <h2 class="mb-0">{{total.count}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 mb-4 mb-lg-0">
            {% include 'base/validations.html' %}
            <div
                class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                <h4 class="mb-0 fw-bold">
                    <i class="fas fa-calendar-day me-3 green-text"></i>Citas Agendadas &nbsp;({{object_list.count}})
                </h4>
            </div>
            <div class="shadow-4 bg-white rounded-5 mb-4 p-4">
                <form>
                    <div class="input-group">
                        <input name="q" value="{{q}}" type="search" class="form-control m-0 form-control-lg"
                            placeholder="Buscar Cita" />
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <input type="hidden" name="page" value="{{page_obj.number}}">
                </form>
            </div>
            <div class="shadow-4 bg-white rounded-5 p-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="th-sm">Folio</th>
                                <th class="th-sm">Fecha</th>
                                <th class="th-sm">Hora</th>
                                <th class="th-sm">Usuario</th>
                                <th class="th-sm">Fecha de Registro</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for date in object_list %}
                            <tr>
                                <td>
                                    <a href="#" type="button" class="btn btn-sm btn-link btn-rounded">
                                        {{date.folio}}
                                        <i class="fas fa-angle-right ms-2"></i>
                                    </a>
                                </td>
                                <td>{{date.fecha}}</td>
                                <td>{{date.hora}}</td>
                                <td>{{date.usuario.get_full_name}}</td>
                                <td>{{date.fecha_reg}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include 'base/pagination.html' %}
        </div>
    </div>
</div>
{% endblock main %}