{% extends 'places/base.html' %}
{% load static %}
{% block head %}
{{block.super}}
<style>
    th,
    td {
        white-space: nowrap;
    }
</style>
{% endblock head %}
{% block main %}
<div class="container-fluid p-5">
    <div class="row gx-xl-5">
        <div class="col-xl-3">
            <div class="shadow-4 p-4 bg-white rounded-5 mb-4">
                <a href="{% url 'admin:main' %}" type="button" class="btn btn-primary btn-rounded btn-lg w-100"><i
                        class="fas fa-angle-left me-3"></i>Volver al inicio</a>
            </div>
            <div class="card shadow-3 mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <div class="p-3 badge-info rounded-4">
                                <i class="fas fa-clipboard-list fa-2x fa-fw"></i>
                            </div>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <p class="text-muted mb-1">Total</p>
                            <h2 class="mb-0">{{total.count}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-3 mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <div class="p-3 badge-success rounded-4">
                                <i class="fas fa-clipboard-list fa-2x fa-fw"></i>
                            </div>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <p class="text-muted mb-1">Validados</p>
                            <h2 class="mb-0">{{validated.count}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-3 mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <div class="p-3 badge-danger rounded-4">
                                <i class="fas fa-clipboard-list fa-2x fa-fw"></i>
                            </div>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <p class="text-muted mb-1">Rechazados</p>
                            <h2 class="mb-0">{{rejected.count}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-3 mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <div class="p-3 badge-secondary rounded-4">
                                <i class="fas fa-clipboard-list fa-2x fa-fw"></i>
                            </div>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <p class="text-muted mb-1">No asignados</p>
                            <h2 class="mb-0">{{not_assign.count}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 mb-4 mb-lg-0">
            <div
                class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                <h4 class="mb-0 fw-bold">
                    <i class="fas fa-clipboard-list me-3 green-text"></i>Solicitudes &nbsp;({{object_list.count}})
                </h4>
            </div>
            <div class="shadow-4 bg-white rounded-5 mb-4 p-4">
                <form>
                    <div class="form-outline">
                        <i class="fas fa-magnifying-glass trailing"></i>
                        <input name="q" type="text" class="form-control form-control-lg mb-3" value="{{q}}"/>
                        <label class="form-label" for="datatable-search-input">Buscar Solicitud</label>
                    </div>
                </form>
                <span class="me-2 text-secondary">Filtrar por:</span>
                <span class="badge rounded-pill badge-success me-1">Validados</span>
                <span class="badge rounded-pill badge-danger me-1">Rechazados</span>
                <span class="badge rounded-pill badge-warning me-1">Observados</span>
                <span class="badge rounded-pill badge-primary me-1">Solventado por el usuario</span>
                <span class="badge rounded-pill badge-secondary">No asignados</span>
            </div>
            <div class="shadow-4 bg-white rounded-5 p-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="th-sm">No.</th>
                                <th class="th-sm">Folio</th>
                                <th class="th-sm">Estatus</th>
                                <th class="th-sm">Fecha de creación</th>
                                <th class="th-sm">Nombre</th>
                                <th class="th-sm">Comercio relacionado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rq in object_list %}
                            <tr>
                                <td>{{rq.id}}</td>
                                <td>
                                    <a href="{% url 'admin:request' rq.uuid %}" type="button"
                                        class="btn btn-sm btn-link btn-rounded">
                                        {{rq.folio}}
                                        <i class="fas fa-angle-right ms-2"></i>
                                    </a>
                                </td>
                                <td>
                                    {% if rq.estatus == 'validated' %}
                                    <span class="badge rounded-pill badge-success">Validado</span>
                                    {% elif rq.estatus == 'rejected' %}
                                    <span class="badge rounded-pill badge-danger">Rechazado</span>
                                    {% elif rq.estatus == 'pending' %}
                                    <span class="badge rounded-pill badge-warning">Observado</span>
                                    {% elif rq.estatus == 'resolved' %}
                                    <span class="badge rounded-pill badge-primary">Solventado por el
                                        usuario</span>
                                    {% else %}
                                    <span class="badge rounded-pill badge-secondary">No asignado</span>
                                    {% endif %}
                                </td>
                                <td>{{rq.fecha_reg}}</td>
                                <td>{{rq.nombre}}</td>
                                <td>
                                    {% if rq.comercio %}
                                    <a href="{% url 'admin:shop' rq.comercio.uuid %}">{{rq.comercio.nombre}}</a>
                                    {% else %}
                                    No especificado
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}