{% extends 'places/base.html' %}
{% load static %}
{% load humanize %}
{% block head %}
{{block.super}}
<style>
    th,
    td {
        white-space: nowrap;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let search = document.querySelector('#search')
        search.addEventListener('submit', (e) => {
            e.preventDefault()
            const form_data = new FormData(e.target);
            console.log(form_data.get('q'))
        })
    })
</script>
{% endblock head %}
{% block main %}
<div class="container-fluid p-5">
    <div class="row gx-xl-5">
        <div class="col-xl-3">
            <div class="shadow-4 p-4 bg-white rounded-5 mb-4">
                <a href="{% url 'admin:main' %}" type="button" class="btn btn-primary btn-rounded btn-lg w-100"><i
                        class="fas fa-angle-left me-3"></i>Volver al inicio</a>
            </div>
            <div class="card shadow-3 mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <div class="p-3 badge-info rounded-4">
                                <i class="fas fa-map-pin fa-2x fa-fw"></i>
                            </div>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <p class="text-muted mb-1">Total</p>
                            <h2 class="mb-0">{{selected_places|length}}</h2>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-0 bg-light p-2">
                    <a class="btn btn-link m-0 w-100" href="{% url 'admin:download_stands_report' %}" role="button"
                        data-mdb-ripple-init data-ripple-color="primary">Descargar reporte<i
                            class="fas fa-arrow-down ms-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xl-9 mb-4 mb-lg-0">
            <div
                class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                <h4 class="mb-0 fw-bold">
                    <i class="fas fa-map-pin me-3 green-text"></i>Locales &nbsp;({{selected_places|length}})
                </h4>
            </div>
            <div class="shadow-4 bg-white rounded-5 mb-4 p-4">
                <form id="search">
                    <div class="input-group">
                        <input name="q" value="{{q}}" type="search" class="form-control m-0 form-control-lg"
                            placeholder="Buscar local" />
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <input type="hidden" name="page" value="{{page_obj.number}}">
                </form>
            </div>
            <div class="shadow-4 bg-white rounded-5 p-4">
                {% regroup selected_places|dictsort:"zona_display" by zona_display as places_list %}
                <div class="accordion accordion-flush" id="accordionStands">
                    {% for place in places_list %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-{{forloop.counter}}-h">
                            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#flush-{{forloop.counter}}">
                                <b>{{place.grouper}} ({{place.list|length}})</b>
                            </button>
                        </h2>
                        <div id="flush-{{forloop.counter}}" class="accordion-collapse collapse"
                            data-mdb-parent="#accordionStands">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <div class="datatable">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="th-sm">Stand</th>
                                                    <th class="th-sm">Asignado a</th>
                                                    <th class="th-sm">Folio en el sistema</th>
                                                    <th class="th-sm">Pagado</th>
                                                    <th class="th-sm">Permiso de Alcohol</th>
                                                    <th class="th-sm">M<sup>2</sup></th>
                                                    <th class="th-sm">Precio inicial</th>
                                                    <th class="th-sm">Precio final</th>
                                                    <th class="th-sm">UUID base</th>
                                                    <th class="th-sm">Concepto inicial de Finanzas</th>
                                                    <th class="th-sm">Concepto final de Finanzas</th>
                                                    <th class="th-sm">Método de asignación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for p in place.list %}
                                                <tr>
                                                    <td class="th-sm">{% firstof p.nombre p.text "No especificado" %}</td>
                                                    <td class="th-sm">
                                                        {% if p.solicitud__uuid %}
                                                        <a target="_blank"
                                                            href="{% url 'admin:request' p.solicitud__uuid %}#payinfo">{{p.solicitud__folio}}</a>
                                                        {% else %}
                                                        Sin asignar
                                                        {% endif %}
                                                    </td>
                                                    <td class="th-sm">{{p.folio|default:"Sin asignar"}}</td>
                                                    <td class="th-sm">{{p.is_paid|default:"No especificado"}}</td>
                                                    <td class="th-sm">{{p.has_alcohol|default:"Sin asignar"}}</td>
                                                    <td class="th-sm">{{p.m2|default:"No especificado"}}</td>
                                                    <td class="th-sm">${{p.price|intcomma|default:"0"}}</td>
                                                    <td class="th-sm">${{p.precio|intcomma|default:"0"}}</td>
                                                    <td class="th-sm">{% firstof p.uuid_internal p.uuid "No especificado" %}{{p.uuid_internal|default:"No especificado"}}</td>
                                                    <td class="th-sm">{% firstof p.concept_internal p.concept "No especificado" %}</td>
                                                    <td class="th-sm">{{p.tramite_id|default:"No especificado"}}</td>
                                                    <td class="th-sm">{{p.added_by|default:"No especificado"}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}