{% extends 'places/base.html' %}
{% load static %}
{% block main %}
<div class="container-fluid p-5">
    <div class="row gx-xl-5">
        <div class="col-xl-3">
            <div class="shadow-4 bg-white rounded-5 overflow-hidden d-none d-xl-block">
                <div class="bg-light p-4 text-center">
                    <h5 class="mb-0">Administrador</h5>
                </div>
                <div class="p-4">
                    <ul class="nav nav-pills nav-justified mb-4" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="ex3-tab-1" data-mdb-toggle="pill" href="#ex3-pills-1"
                                role="tab" aria-controls="ex3-pills-1" aria-selected="true">Solicitudes</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex3-tab-2" data-mdb-toggle="pill" href="#ex3-pills-2" role="tab"
                                aria-controls="ex3-pills-2" aria-selected="false" tabindex="-1">Citas Agendadas</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex3-tab-3" data-mdb-toggle="pill" href="#ex3-pills-3" role="tab"
                                aria-controls="ex3-pills-3" aria-selected="false" tabindex="-1">Comercios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-9 mb-4 mb-lg-0">
            <div class="tab-content" id="ex2-content">
                <div class="tab-pane fade active show" id="ex3-pills-1" role="tabpanel" aria-labelledby="ex3-tab-1">
                    <div
                        class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                        <h4 class="mb-0 fw-bold">
                            <i class="fas fa-clipboard-list me-3 green-text"></i>Solicitudes
                        </h4>
                    </div>
                    <div class="shadow-4 bg-white rounded-5 p-4">
                        <div class="datatable" data-mdb-rows-text="Resultados por página"
                            data-mdb-no-found-message="No se encontraron resultados" data-mdb-of-text="de">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="th-sm">Folio</th>
                                        <th class="th-sm">Estatus</th>
                                        <th class="th-sm">Fecha de creación</th>
                                        <th class="th-sm">Nombre</th>
                                        <th class="th-sm">RFC</th>
                                        <th class="th-sm">Régimen Fiscal</th>
                                        <th class="th-sm">Comercio</th>
                                        <th class="th-sm">Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rq in requests %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'admin:request' rq.uuid %}" type="button"
                                                class="btn btn-sm btn-link btn-rounded">
                                                {{rq.folio}}
                                                <i class="fas fa-angle-right ms-2"></i>
                                            </a>
                                        </td>
                                        <td>
                                            {% if rq.estatus == 'validated' %}
                                            <h6 class="badge rounded-pill badge-success">Validado</span>
                                                {% elif rq.estatus == 'rejected' %}
                                                <span class="badge rounded-pill badge-success">Rechazado</span>
                                                {% elif rq.estatus == 'pending' %}
                                                <span class="badge rounded-pill badge-warning">Pendiente</span>
                                                {% else %}
                                                <span class="badge rounded-pill badge-secondary">No asignado</span>
                                                {% endif %}
                                        </td>
                                        <td>{{rq.fecha_reg}}</td>
                                        <td>{{rq.nombre_persona}}</td>
                                        <td>{{rq.rfc_txt}}</td>
                                        <td>{{rq.get_regimen_fiscal_display}}</td>
                                        <td>
                                            {% if not rq.comercio %}
                                            <a href="{% url 'places:create_shop' rq.uuid %}"
                                                class="btn btn-sm btn-warning shadow-0 ms-2">Agregar comercio</a>
                                            {% else %}
                                            {{rq.comercio.nombre}}
                                            {% endif %}
                                        </td>
                                        <td>{{rq.usuario.get_full_name}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="ex3-pills-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                    <div
                        class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                        <h4 class="mb-0 fw-bold">
                            <i class="fas fa-folder-tree me-3 green-text"></i>Citas Agendadas
                        </h4>
                        <a class="btn btn-lg btn-link btn-rounded d-none d-sm-block" href="#" role="button">Ver
                            todo<i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                    <div class="shadow-4 bg-white rounded-5 p-4">
                        <div class="datatable" data-mdb-rows-text="Resultados por página"
                            data-mdb-no-found-message="No se encontraron resultados" data-mdb-of-text="de">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="th-sm">Folio</th>
                                        <th class="th-sm">Fecha de la cita</th>
                                        <th class="th-sm">Hora de la cita</th>
                                        <th class="th-sm">Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt in dates %}
                                    <tr>
                                        <td>
                                            <a href="#" type="button" class="btn btn-sm btn-link btn-rounded">
                                                {{dt.folio}}
                                                <i class="fas fa-angle-right ms-2"></i>
                                            </a>
                                        </td>
                                        <td>{{dt.fecha}}</td>
                                        <td>{{dt.hora}} hrs.</td>
                                        <td>{{dt.usuario.get_full_name}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="ex3-pills-3" role="tabpanel" aria-labelledby="ex3-tab-3">
                    <div
                        class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                        <h4 class="mb-0 fw-bold">
                            <i class="fas fa-folder-tree me-3 green-text"></i>Comercios
                        </h4>
                        <a class="btn btn-lg btn-link btn-rounded d-none d-sm-block" href="#" role="button">Ver
                            todo<i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                    <div class="shadow-4 bg-white rounded-5 p-4">
                        <div class="datatable" data-mdb-rows-text="Resultados por página"
                            data-mdb-no-found-message="No se encontraron resultados" data-mdb-of-text="de">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="th-sm">Folio</th>
                                        <th class="th-sm">Nombre</th>
                                        <th class="th-sm">Descripción</th>
                                        <th class="th-sm">¿Vende Alcohol?</th>
                                        <th class="th-sm">Voltaje</th>
                                        <th class="th-sm">Equipos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bc in branches %}
                                    <tr>
                                        <td>
                                            <a href="#" type="button" class="btn btn-sm btn-link btn-rounded">
                                                {{bc.folio}}
                                                <i class="fas fa-angle-right ms-2"></i>
                                            </a>
                                        </td>
                                        <td>{{bc.nombre}}</td>
                                        <td>{{bc.descripcion}}</td>
                                        <td>{{bc.vende_alcohol|yesno:"Sí,No"}}</td>
                                        <td>{{bc.get_voltaje_display|default:"No especificado"}}</td>
                                        <td>{{bc.equipos|default:"No especificado"}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}