{% extends 'places/base.html' %}
{% load static %}
{% block head %}
{{block.super}}
<script src="{% static 'js/validations.js' %}" type="module" defer></script>
{% endblock %}
{% block main %}
<div class="container-fluid p-5">
    <form method="post">
        {% csrf_token %}
        <div class="row gx-xl-5">
            <div class="col-xl-3">
                <div class="shadow-4 bg-white rounded-5 overflow-hidden mb-4">
                    <div class="bg-light p-4 text-center">
                        <h5 class="mb-0">Asigna un Estatus</h5>
                    </div>
                    <div class="p-4">
                        {% if not object.estatus or object.estatus == 'resolved' %}
                        {% if object.estatus == 'resolved' %}
                        <h1 class="text-center"><span class="badge rounded-pill badge-primary mb-2">Solventado</span>
                        </h1>
                        {% endif %}
                        <button name="validated" type="submit" data-mdb-ripple-init data-mdb-ripple-color="dark"
                            class="btn btn-lg btn-rounded btn-outline-success shadow-0 w-100"><i
                                class="fas fa-check me-2"></i>Validar</button>
                        <button name="pending" type="submit"
                            class="btn btn-outline-warning btn-lg btn-rounded shadow-0 w-100 my-3"><i
                                class="fas fa-triangle-exclamation me-2"></i>Observar</button>
                        <button name="rejected" type="submit"
                            class="btn btn-outline-danger btn-lg btn-rounded shadow-0 w-100"><i
                                class="fas fa-ban me-2"></i>Rechazar</button>
                        {% elif object.estatus == 'validated' %}
                        <h1 class="text-center"><span class="badge rounded-pill badge-success">Validado</span></h1>
                        {% elif object.estatus == 'rejected' %}
                        <h1 class="text-center"><span class="badge rounded-pill badge-danger">Rechazado</span></h1>
                        {% elif object.estatus == 'pending' %}
                        <h1 class="text-center"><span class="badge rounded-pill badge-warning">Observado</span></h1>
                        {% endif %}
                    </div>
                    <div class="bg-light p-4 text-center">
                        <h5 class="mb-0">Historial de Validaciones</h5>
                    </div>
                    <div class="p-4">
                        <button type="button" class="btn btn-primary btn-lg btn-rounded shadow-0 w-100"
                            data-mdb-toggle="modal" data-mdb-target="#modal-validations">
                            <i class="fas fa-list-check me-2"></i>Ver Historial
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 mb-4 mb-lg-0">
                {% include 'base/validations.html' %}
                <div
                    class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                    <h4 class="mb-0 fw-bold">
                        <i class="fas fa-shop me-3 green-text"></i>Comercio {{object.folio}} - {{object.id}}
                    </h4>
                    <a class="btn btn-lg btn-link btn-rounded d-none d-sm-block" href="{% url 'admin:main' %}"
                        role="button">Ver
                        todo<i class="fas fa-arrow-right ms-2"></i></a>
                </div>
                <div class="shadow-4 bg-white rounded-5 p-4">
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'admin:request' object.solicitud.uuid %}" type="button"
                            class="btn btn-sm shadow-0 btn-info btn-rounded mb-2"><i
                                class="fas fa-clipboard-list me-2"></i>Ver Solicitud</a>
                        <a href="{% url 'admin:update_shop' object.uuid %}" type="button"
                            class="btn btn-sm shadow-0 btn-primary btn-rounded mb-2 ms-2"><i
                                class="fas fa-pen me-2"></i>Editar</a>
                    </div>
                    <ul class="list-group list-group-light">
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{object.fecha_reg}} hrs.</div>
                                <small>Fecha de registro</small>
                            </div>
                        </li>
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{object.folio}}</div>
                                <small>Folio</small>
                            </div>
                        </li>
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a
                                        href="{% url 'admin:request' object.solicitud.uuid %}">{{object.solicitud.folio}}</a>
                                </div>
                                <small>Solicitud relacionada</small>
                            </div>
                        </li>
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{object.solicitud.usuario.phone_number}}</div>
                                <small>Número de Teléfono</small>
                            </div>
                        </li>
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <input class="form-check-input me-1" type="checkbox" value="nombre" />
                                    {{object.nombre}}
                                </div>
                                <small>Nombre</small>
                            </div>
                            <div>
                                <div class="form-outline" data-mdb-input-init>
                                    <textarea class="form-control d-none" rows="3"></textarea>
                                    <label class="form-label">Observaciones</label>
                                </div>
                            </div>
                        </li>
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <input class="form-check-input me-1" type="checkbox" value="descripcion" />
                                    {{object.descripcion}}
                                </div>
                                <small>Descripción</small>
                            </div>
                            <div>
                                <div class="form-outline" data-mdb-input-init>
                                    <textarea class="form-control d-none" rows="3"></textarea>
                                    <label class="form-label">Observaciones</label>
                                </div>
                            </div>
                        </li>
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <input class="form-check-input me-1" type="checkbox" value="giro" />
                                    {{object.get_giro_display}}
                                </div>
                                <small>Giro del Comercio</small>
                            </div>
                            <div>
                                <div class="form-outline" data-mdb-input-init>
                                    <textarea class="form-control d-none" rows="3"></textarea>
                                    <label class="form-label">Observaciones</label>
                                </div>
                            </div>
                        </li>
                        {% if object.vende_alcohol %}
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <input class="form-check-input me-1" type="checkbox" value="vende_alcohol" />
                                    {{object.vende_alcohol|yesno:'Sí,No'}}
                                </div>
                                <small>¿Vende Alcohol?</small>
                            </div>
                            <div>
                                <div class="form-outline" data-mdb-input-init>
                                    <textarea class="form-control d-none" rows="3"></textarea>
                                    <label class="form-label">Observaciones</label>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% if object.voltaje %}
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <input class="form-check-input me-1" type="checkbox" value="voltaje" />
                                    {{object.get_voltaje_display}}
                                </div>
                                <small>Voltaje</small>
                            </div>
                            <div>
                                <div class="form-outline" data-mdb-input-init>
                                    <textarea class="form-control d-none" rows="3"></textarea>
                                    <label class="form-label">Observaciones</label>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% if object.equipos %}
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <input class="form-check-input me-1" type="checkbox" value="equipos" />
                                    {{object.equipos}}
                                </div>
                                <small>Equipos que utilizará</small>
                            </div>
                            <div>
                                <div class="form-outline" data-mdb-input-init>
                                    <textarea class="form-control d-none" rows="3"></textarea>
                                    <label class="form-label">Observaciones</label>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% if object.imagen %}
                        <li
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold mb-2">
                                    <input class="form-check-input me-1" type="checkbox" value="imagen" />
                                    Diseño del Stand
                                </div>
                                <a href="{{object.imagen.url}}" target="_blank" type="button"
                                    class="btn btn-sm btn-light"><i class="fas fa-eye me-2"></i>Ver documento</a>
                            </div>
                            <div>
                                <div class="form-outline" data-mdb-input-init>
                                    <textarea class="form-control d-none" rows="3"></textarea>
                                    <label class="form-label">Observaciones</label>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal Validations -->
<div class="modal fade" id="modal-validations" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Historial de Validaciones</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Estatus</th>
                            <th>Fecha</th>
                            <th>Comentarios</th>
                            <th>Campos seleccionados</th>
                            <th>Validador</th>
                            <th>Atendido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vl in object.validaciones_com.all %}
                        <tr>
                            <td>
                                {% if vl.estatus == 'validated' %}
                                <h6 class="badge rounded-pill badge-success">Validado</span>
                                    {% elif vl.estatus == 'rejected' %}
                                    <span class="badge rounded-pill badge-danger">Rechazado</span>
                                    {% elif vl.estatus == 'pending' %}
                                    <span class="badge rounded-pill badge-warning">Observado</span>
                                    {% elif vl.estatus == 'resolved' %}
                                    <span class="badge rounded-pill badge-primary">Solventado por el usuario</span>
                                    {% else %}
                                    <span class="badge rounded-pill badge-secondary">No asignado</span>
                                    {% endif %}
                            </td>
                            <td>{{vl.fecha_reg}}</td>
                            <td>
                                <td>
                                    {% for key, value in vl.campos.field_comments.items %}
                                    <b>{{key|title}}</b>: {{value}}
                                    {% endfor %}
                                </td>
                            </td>
                            <td>
                                {% if not vl.estatus == 'resolved' %}
                                {{vl.validador}}
                                {% endif %}
                            </td>
                            <td>
                                {% if vl.estatus == 'pending' %}
                                {{vl.atendido|yesno:'Sí,No'}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-ripple-init
                    data-mdb-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock main %}