{% extends 'places/base.html' %}
{% load static %}
{% block main %}
<div class="container-fluid p-5">
    <div class="row gx-xl-5">
        <div class="col-xl-3">
            <div class="shadow-4 p-4 bg-white rounded-5 mb-4">
                <a href="{% url 'admin:list_users' %}" type="button" class="btn btn-primary btn-rounded btn-lg w-100"><i
                        class="fas fa-angle-left me-3"></i>Volver a Usuarios</a>
            </div>
        </div>
        <div class="col-xl-9 mb-4 mb-lg-0">
            {% include 'base/validations.html' %}
            <div
                class="shadow-4 bg-white rounded-5 mb-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                <h4 class="mb-0 fw-bold">
                    <i class="fas fa-user me-3 green-text"></i>Editar Usuario {{object.email}}
                </h4>
            </div>
            <div class="shadow-4 bg-white rounded-5 p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-outline">
                                {{form.first_name}}
                                <label class="form-label" for="{{form.first_name.id}}">{{form.first_name.label}}</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-outline">
                                {{form.last_name}}
                                <label class="form-label" for="{{form.last_name.id}}">{{form.last_name.label}}</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-outline">
                                {{form.email}}
                                <label class="form-label" for="{{form.email.id}}">{{form.email.label}}</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-outline">
                                {{form.phone_number}}
                                <label class="form-label"
                                    for="{{form.phone_number.id}}">{{form.phone_number.label}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mt-3">
                        <button class="btn btn-primary" type="submit">Editar registro</button>
                    </div>
                </form>
            </div>
            <div id="citas"
                class="shadow-4 bg-white rounded-5 my-4 overflow-hidden p-4 d-flex justify-content-between align-items-center">
                <h4 class="mb-0 fw-bold"><i class="fas fa-calendar-day me-3"></i>Cita Agendada</h4>
            </div>
            <div class="shadow-4 bg-white rounded-5 p-5 my-4">
                {% with date=object.citas.get %}
                {% if date %}
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Folio</th>
                                <td>{{date.folio}}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Fecha</th>
                                <td>{{date.fecha}}</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Hora</th>
                                <td>{{date.hora}} horas</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Lugar</th>
                                <td>Parque Tabasco Dora María</td>
                            </tr>
                            <tr>
                                <th class="bg-light" style="width: 40%;">Documento de Cita</th>
                                <td><a target="_blank" class="btn btn-sm btn-success shadow-0" href="#">Descargar
                                        cita</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% else %}
                <a href="{% url 'admin:assing_user_date' object.pk %}" type="button"
                    class="btn btn-primary btn-rounded btn-lg w-100"><i class="fas fa-plus me-3"></i>Asignar Cita</a>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}