{% load static %}
<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feria Tabasco 2025</title>
</head>

<body>
    <img src="{% static 'images/logov3.png' %}" alt="logo_feria_tabadco_2025">
    <h4>Correo de prueba de la feria tabasco 2025</h4>
    <p>
    <h5>Le invitamos a visitar el <a href="siscomferia.com">Sistema de Comercialización de la Feria Tabasco 2025</a>
        para más información</h5>
    </p>
</body>

</html>